* {
  margin: 0;
  box-sizing: border-box;
  --charcoal-bg-: #30353d;
  --nav-hover-color-: #6ee2ff;
}
.App {
  display: flex;
  flex-flow: column nowrap;
}
section {
  width: 100%;
  margin: 25px 50px 25px 50px;
}
.navbar_container {
  display: flex;
  flex-flow: row nowrap;
  height: 13vh;
  width: 100%;
  background-color: var(--charcoal-bg-);
}
.navbar_container h2 {
  color: white;
  font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1920 - 300)));
}
.navbar_container h2:hover {
  color: var(--nav-hover-color-);
}
.navbar_image_container {
  display: flex;
  margin: 0px 200px 0px 100px;
  align-items: center;
}
#navbar_image {
  height: calc(25px + (70 - 25) * ((100vw - 300px) / (1920 - 300)));
  width: calc(25px + (70 - 25) * ((100vw - 300px) / (1920 - 300)));
}
.navbar_links {
  margin: 0px 50px 0px 0px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 30px;
  justify-content: flex-end;
  flex: 2;
  order: 2;
}
