@import-normalize;

* {
	--charcoal-bg-: #30353d;
	--ltBlue-color-: #6ee2ff;
	--dkBlue-color-: #14213d;
	--btnBGblue-color: rgb(13, 110, 253);
	--white-color-: #ffffff;
	--Income-color-: #11fc34;
	--gold-color: #fca311;
	--gray-color-: #e5e5e5;
	--button-blue-: rgb(13, 110, 253);
	--error-color-: red;
	--success-color-: rgb(3, 190, 3);
}
#root,
html,
body {
	height: 100%;
	width: 100%;
}
main {
	display: grid;
	grid-template-rows: [row1] 8% [row2] 92%;
	height: 100%;
	width: 100%;
	background-color: rgb(33, 37, 41);
	overflow: hidden;
}
.navbar {
	flex: 1;
	border-bottom: 1px solid var(--ltBlue-color-);
}
.navbar a {
	color: white;
}
.navbar a:hover {
	color: var(--ltBlue-color-);
}
.navbar a:visited:hover {
	color: var(--ltBlue-color-);
}
.navbar a:visited {
	color: white;
}
.navbar a:active {
	color: var(--ltBlue-color-);
}
.navbar span {
	color: var(--ltBlue-color-);
}
.navbar-collapse {
	display: flex;
	justify-content: flex-end;
}
#header-image {
	height: calc(35px + (70 - 35) * ((100vw - 300px) / (1920 - 300)));
	width: calc(35px + (70 - 35) * ((100vw - 300px) / (1920 - 300)));
}
.welcome-sign {
	color: white;
	font-size: calc(13px + (17 - 13) * ((100vw - 300px) / (1920 - 300)));
	margin: 10px;
}
.header-right {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-end;
	flex: 2;
	order: 2;
}
#hamburger {
	color: var(--ltBlue-color-);
	font-size: 2.5rem;
}
#hamburger:hover {
	color: white;
	cursor: pointer;
}
section {
	display: flex;
	flex-flow: row nowrap;
	height: 100%;
}
.home {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 0 12rem;
}
.home-container-intro {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-evenly;
	align-items: center;
	flex: 3;
	width: 80%;
	background-color: white;
	border-radius: 10px;
	padding: 15px 25px;
}
.home-title {
	flex: 1;
	text-align: center;
}
.home-welcome {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-evenly;
	flex: 3;
	text-align: center;
}
.home-container-intro h1 {
	font-size: 2.25rem;
	font-weight: bold;
	text-decoration: underline;
}
.home-container-intro p {
	font-size: 1.5rem;
}
.home-nav {
	flex: 1;
}
.home-nav a {
	background-color: var(--btnBGblue-color);
	border: 1px hidden white;
	width: 6rem;
	height: 3rem;
	color: white;
	font-size: 1.2em;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	padding: 6px;
	margin: 5px;
}
.home-nav a:hover {
	color: var(--dkBlue-color-);
	border: 1px solid var(--dkBlue-color-);
}
.finance-display-left {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-evenly;
	align-items: center;
	flex: 4;
	padding: 15px 10px;
}
.finance-display-right {
	display: flex;
	flex-flow: column nowrap;
	flex: 1;
	align-items: center;
	padding: 0 1rem;
}
.income-form-container {
	border-left: 1px solid var(--gold-color);
	border-right: 1px solid var(--gold-color);
}
.finance-display-right {
	border-left: 1px solid var(--ltBlue-color-);
	border-right: 1px solid var(--ltBlue-color-);
}
.income-form,
#expense-form {
	display: flex;
	flex-flow: column nowrap;
	row-gap: 10px;
	padding: 10px 0px 20px 0px;
}
.form-control {
	border: 1px solid transparent;
}
.form-select {
	border: 1px solid transparent;
}
input.error {
	border: 1px solid var(--error-color-);
	max-width: 100%;
	border-radius: 5px;
	min-height: 40px;
	padding: 0px 0px 0px 10px;
}
select.error {
	border: 1px solid var(--error-color-);
}
.finance-display {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	height: 100%;
}
.finance-display-heading {
	font-size: 2rem;
	flex: 1;
}
#income-table-title h1 {
	color: var(--gold-color);
}
#expense-table-title h1 {
	color: var(--ltBlue-color-);
}
#income-create-new {
	color: var(--ltBlue-color-);
}

#income-create-new:hover {
	color: var();
}
.home-nav a {
	background-color: var(--button-blue-);
}
.finance-list button:hover {
	background-color: var(--ltBlue-color-);
}
.finance-display-heading h2 {
	display: flex;
	text-shadow: 1px 1px 1px black;
	text-decoration: underline;
}
#income-create-new {
	color: var(--ltBlue-color-);
	text-decoration: none;
	border: 3px dotted var(--ltBlue-color-);
}
.finance-table-container {
	display: block;
	background-color: white;
	border-color: black;
	color: black;
	width: 85%;
	overflow-x: auto;
}
.finance-table-container table {
	width: 100%;
	height: 50rem;
	overflow-x: auto;
	border-collapse: collapse; /* Ensure borders are collapsed */
}

.finance-table-container td,
th {
	border: 1px solid black; /* Apply border to table headers and cells */
	padding: 8px; /* Add padding for better readability */
	text-align: left; /* Align text to the left */
}

#heading-columns th {
	background-color: rgb(43, 43, 43);
	color: var(--ltBlue-color-);
	border: 1.5px solid var(--ltBlue-color-);
}
.finance-table-container thead {
	background-color: #f2f2f2; /* Add background color to table header */
}

.finance-table-container tbody tr:nth-child(even) {
	background-color: #d9d9d9; /* Add background color to even rows */
}
.income-description,
#expense-description {
	font-style: italic;
	text-align: center;
	margin-bottom: 3px;
}
.name-td:hover {
	cursor: pointer;
	background-color: var(--ltBlue-color-);
}
#income-table-title:hover {
	cursor: pointer;
}

.finance-displayPerPage-container {
	display: flex;
	flex-flow: row nowrap;
	align-self: center;
	flex: 1;
	justify-content: space-evenly;
}

.materials-symbols-outlined {
	text-align: center;
}
.edit-td span:hover {
	color: rgb(43, 255, 43);
	cursor: pointer;
}
.delete-td span:hover {
	cursor: pointer;
	color: red;
}
.pagination {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	color: white;
}
.pagination li:hover {
	cursor: pointer;
}
.server-loading {
	font-size: calc(18px + (26 - 18) * ((100vw - 300px) / (1920 - 300)));
	border: 3px dotted black;
	align-self: center;
}
#modal-content-header {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
}

.date,
.dateReceived {
	border-radius: 5px;
	width: 220px;
	min-height: 40px;
	height: 40px;
	border: 1px transparent;
	padding: 0px 0px 0px 10px;
}
.login-header {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	align-items: center;
	width: 80%;
	flex: 1;
}
.login-card {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	width: 80%;
	flex: 3;
	box-shadow: 2px 2px 15px var(--charcoal-bg-);
	border-radius: 5px;
	background-color: #ffffff;
}
.login-empty {
	flex: 1;
}
.login-card-left {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	flex: 1;
	background-color: var(--ltBlue-color-);
}
.login-card-right {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	flex: 2;
}
.login-card-form {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	row-gap: 5px;
	width: 50%;
	padding: 2px 0px;
}
.login-password-input {
	display: flex;
	flex-flow: row nowrap;
}
.signup-header {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	flex: 1;
}
.signup-card {
	display: flex;
	flex-flow: row nowrap;
	flex: 3;
	width: 80%;
	box-shadow: 1px 1px 10px var(--charcoal-bg-);
	border-radius: 5px;
	background-color: white;
}
.signup-card-left {
	display: flex;
	flex-flow: column nowrap;
	background-color: var(--ltBlue-color-);
	text-align: center;
	justify-content: center;
	flex: 1;
	padding: 0px 5px;
}
.signup-card-left h2 {
	font-size: 1.5rem;
}
.signup-card-right {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	flex: 2;
}
.signup-form {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	max-width: 90%;
	row-gap: 5px;
}
.submitBtn {
	width: 100%;
}

.signup-form input:focus,
.login-form input:focus {
	outline-color: var(--gold-color);
}
.signup-password-field {
	display: flex;
	flex-flow: row nowrap;
}
.signup-empty {
	flex: 1;
}
#summary-container {
	display: flex;
	flex-flow: column nowrap;
}
#summary-title {
	align-self: center;
}
.income-table-title {
	color: var(--gold-color);
}
.income-table-total-container {
	border-top: 2px solid rgb(214, 214, 214);
	display: flex;
	justify-content: flex-end;
	margin-bottom: 50px;
}
.income-table-total-container strong {
	color: var(--gold-color);
}
#expense-table-title {
	color: var(--ltBlue-color-);
}

#balance-container {
	align-self: flex-start;
}
.input-group-text {
	max-width: 48px;
}
.eye {
	font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1920 - 300)));
}
.error-message {
	color: var(--error-color-);
}
.success-message {
	color: var(--success-color-);
}
.disabled {
	display: none;
}
.faded {
	color: rgb(0, 0, 0, 0.4);
}
@media screen and (min-width: 300px) and (max-width: 766px) and (orientation: portrait) {
	main {
		overflow: auto;
	}
	section {
		padding: 0 0rem;
	}
	.home-container-intro h1 {
		font-size: 2.15rem;
	}
	.home-container-intro p {
		font-size: 1.2rem;
	}
	#header-container {
		padding: 0px 25px;
		height: 12%;
	}
	.header-left h2 {
		display: none;
	}
	.navbar-collapse {
		justify-content: center;
	}
	table {
		width: 100%;
	}
	.finance-display {
		flex-flow: column nowrap;
	}
	.finance-table-header {
		order: 2;
		margin: 0px 0px 5px 0px;
		width: 100%;
	}
	.finance-display-right {
		order: 1;
		width: 100%;
	}
	.income-form,
	#expense-form {
		display: flex;
		flex-flow: column nowrap;
		row-gap: 10px;
		width: 80%;
	}
	.login-card {
		flex-flow: column-reverse nowrap;
	}
	.signup-card-right {
		flex: 3;
	}
	.login-card-right {
		flex: 3;
	}
	.login-card-form {
		row-gap: 2px;
		width: 90%;
	}
	.login-card-form input {
		height: 35px;
	}
	.signup-form input {
		height: 35px;
	}

	.income-title,
	#expense-title {
		margin-bottom: 0px;
	}
	.signup-card {
		flex-flow: column-reverse nowrap;
		max-height: 500px;
		max-width: 300px;
	}
	.date {
		width: 100%;
	}
	.dateReceived {
		width: 100%;
	}
	.navLinks {
		margin: 5px;
	}
	.navLinks a {
		text-align: center;
		border: 1px solid white;
	}
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
	main {
		overflow: auto;
	}
	section {
		padding: 0rem 0rem;
	}
	.header-container {
		height: 10vh;
	}
	.login-card {
		max-height: 700px;
		max-width: 600px;
	}
	.signup-container {
		padding: 75px 0px;
		justify-content: flex-start;
	}
	.signup-card {
		max-height: 700px;
		max-width: 600px;
	}
	.login-card-form input {
		padding: 3px;
	}
	.signup-form input {
		padding: 3px;
	}
	.date {
		width: 136px;
	}
	.dateReceived {
		width: 136px;
	}
}
